h1 {
    color:white;
    background-image: url("earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}

h2 {
    color:white;
}

body {
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color:white;
    position:relative;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: medium;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
